:host ::ng-deep .news-card img {
    max-width: 100%;
    max-height: 100%;
}

.news-card {
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding: 1rem;
    max-width: 800px;
}

.news-card li, .news-card p {
    word-wrap: break-word;
}

.news-container {
    width: 100%;
}

.news-card-title {
  font-size: 1.5rem;
}

.news-card-title > a {
    text-decoration: none;
    color: white;
}

.new-card-author {
    font-style: italic;
}

.news-card-content {
    white-space: pre-line;
}