:host ::ng-deep .news-card img {
    max-width: 100%;
    max-height: 100%;
}

.news-card {
    border-bottom: 1px solid gray;
    padding: 1rem;
    max-width: 800px;
    height: 2.5rem;
    overflow: hidden;
    transition: height 2s;
}

.news-card .news-card-header:hover {
    text-decoration: underline;
}

.expand {
    height: max-content;
}

.news-card li, .news-card p {
    word-wrap: break-word;
}

.news-container {
    width: 100%;
}

.news-card-title {
  font-size: 1.5rem;
}

.news-card-title > a {
    text-decoration: none;
    color: white;
}

.news-card-header {
    cursor: pointer;
}

.new-card-author {
    font-style: italic;
}

.news-card-content {
    white-space: pre-line;
}

.news-card-footer-author {
    font-weight: bold;
}

.news-card-footer-published-date {
    margin-left: 10px;
    font-style: italic;
}