.news-card {
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.news-container {
    overflow-y: scroll;
    max-height: 50vw;
}

.news-card-title {
    padding: 1rem;
}
.news-card-title > a {
    text-decoration: none;
    color: white;
}