/* You can add global styles to this file, and also import other style files */
:root {
    --main-text-color: white;
    --main-font-family:  Segoe UI,Helvetica,Arial;
    --main-background-color: #22272e;
    --color-text-link: #539bf5;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--main-font-family);
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

button {
    background-color: inherit;
    border: 1px solid white;
    padding: .5rem 2rem;
    font-size: inherit;
    color: inherit;
}

button:hover {
    background-color: rgb(110, 110, 110);
}

button:active {
    box-shadow: inset 0px 0px 4px black;
}

a {
    color: var(--color-text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}