.app {
    display: grid;
    grid-template-areas: 
        'header header'
        'main news';
    grid-template-columns: 6fr 1fr;
}

.coin-header {
    grid-area: header;
}

.coin-main {
    grid-area: main;
}

.coin-news {
    grid-area: news;
}